
body {
    background-color:black;
}

h1 {
    font-size: 100 px;
    text-align: center;
    font-family: 'Muli', sans-serif;
}

h3 {
    font-size: 20 px;
    text-align: center;
    font-family: 'Nanum Gothic', sans-serif;
    color: grey;
}